<header class="header">
    <h1 class="alpha">James<br> and Greta's<br> Wedding Photos</h1>

    <div class="intro">
    {{#if user }}
        Logged in as {{ user.username }}.<br>
        <a href="/logout">Log out</a>
    {{ else }}
        <p>To upload a photo, please <br>
            <a href="/" title="log in" class="form__trigger" data-target="form--login">log in</a> or 
            <a href="/" title="Create an account" class="form__trigger" data-target="form--signup">choose a username</a>.
        </p>

        
        <form action="/" method="post" class="form form--login">
            <div class="form__wrapper">
                <a href="#" class="form--close">Close</a>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Name" required="required">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required="required">
                
                <div class="form__row">
                    <input type="submit" class="button" value="Login">
                </div>
            </div>
        </form>
        
        
        <form action="/signup" method="post" class="form form--signup">
            <div class="form__wrapper">
                <a href="#" class="form--close">Close</a>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Name" required="required">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required="required">
                
                <div class="form__row">
                    <input type="submit" class="button" value="Sign up">
                </div>
            </div>
        </form>
    {{/if}}
    </div>
</header>
  
{{#if message}}
<div class="message">
    {{ message }}
</div>
{{/if}}

<div class="rule animation"></div>

<main role="main" id="main">
   <div id="photos">
       {{#if user}}
       <div class="form__wrapper upload__wrapper">
            <h3 class="beta">Upload a photo</h3>
            <form action="/api/photos" method="post" enctype="multipart/form-data" id="upload" class="form form--upload">
                <div class="form--half form--file-upload"><input type="file" name="photo" id="photo"></div>
                <div class="form--half"><input type="submit" value="Upload" id="submit" class="button"></div>
            </form>
            <div class="progress fadeOut">
               <div class="progress__bar animation"></div>
               <div class="progress__status">0%</div>
            </div>
            <div class="upload__output"></div>

       </div>
       {{/if}}
       
       <div class="photo__container"><img src="/img/loading.gif" alt="loading" class="loading"></div>
   </div> 
</main>

<div class="overlay hidden"></div>

<script id="photoTemplate" type="text/template">
    <figure class="image" data-id="<%= id %>">
        <a href="<%= path %>" title="<%= caption %>" class="image__link" data-lightbox="wedding">
            <img data-original="<%= thumbnail %>" class="image__photo lazy" id="<%= _id %>" />
        </a>
        
        <figcaption class="image__caption"><%= caption %></figcaption>
    </figure>
    <aside class="image__meta">Taken by <%= takenBy.username %> on <%= $.format.date(new Date(date), 'D MMMM yyyy') %></aside>
    {{#if user}}
    <% if(takenBy.id === '{{user.id}}') { %>
        <button class="button delete" title="Delete this photo"><i class="fa fa-trash-o"></i></button>
        <button class="button refresh" title="Refresh thumbnail"><i class="fa fa-refresh"></i></button>
    {{#if user.isAdmin}}
    <% } else if({{user.isAdmin}}) { %>
        <button class="button delete button--admin" title="Delete this photo"><i class="fa fa-trash-o"></i></button>
        <button class="button refresh button--admin" title="Refresh thumbnail"><i class="fa fa-refresh"></i></button>
        {{/if}}
    <% } %>
    {{/if}}

</script>


<script src="build/js/lib.js"></script>
<script src="build/js/app.js"></script>
